.title {
    text-align: center;
    font-size: 3rem;
    color: #fff;
    width: auto;
}

.title span {
    color: #8ED1FC;
}

.navbar {
    text-align: center;
}

.navbar a {
    color: #fff;
    background-color: #121212;
    font-size: 1.5rem;
    margin: 0 10px;
    font-weight: bold;
    padding: 8px;
    transition: all 0.3s;
    border-radius: 15px;
}

.navbar a:hover {
    color: #161616;
    background-color: #8ED1FC;
}

a {
    text-decoration: none;
}